.favorites-list {
	list-style: none;
	border: 1px solid var(--navy);
}

.saved-place {
	display: flex;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid var(--navy);
	
	&:nth-child(even) {
		background: var(--light-blue);
	}
	
	&:last-child {
		border: none;
	}
	
	&__label {
		display: block;
		width: 100%;
	}
}