:root {
	// colors
	--white: #FFF;
	--black: #000;
	--light-blue: #E6E6FF;
	--blue: #8AF;
	--dark-blue: #46D;
	--navy: #049;
	--pink: #FDD;
	--red: #900;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: var(--white);
	color: var(--black);
	font: normal 16px/1.35 Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	cursor: pointer;
}

p {
	padding-bottom: 1em;
	
	&:last-child {
		padding-bottom: 0;
	}
}

#root {
	.btn {
		background: var(--blue);
		border: none;
		padding: 0.5em 2em;
		color: var(--black);
		font-weight: bold;
		text-decoration: none;
		cursor: pointer;
		
		&:hover,
		&.active {
			background: var(--dark-blue);
			color: var(--white);
		}
	}
}