.location-input {
	&__fields {
		display: flex;
		padding-bottom: 1rem;
	}
	
	&__field {
		width: 100%;
		border: 1px solid var(--navy);
		padding: 0.75rem !important;
		font-size: 1rem;
		
		& + & {
			margin-left: 1rem;
		}
	}
}