@mixin notext {
	text-indent: -5000em;
	font-size: 0;
	line-height: 0;
	color: transparent;
}

@mixin fullWidth {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}