.navigation {
	&__list {
		display: flex;
		list-style: none;
	}
	
	&__list_item {
		flex-grow: 1;
		text-align: center;
	}
	
	&__link {
		display: block;
		padding-top: 1em;
		padding-bottom: 1em;
	}
}